@font-face {
    font-family: "Satoshi";
    src: url("/fonts/satoshi-700-italic.woff2") format("woff2");
    font-style: italic;
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "Satoshi";
    src: url("/fonts/satoshi-300.woff2") format("woff2");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
